﻿@model IEnumerable<WebBlog.Models.DB.Post>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Name</h2>

<p>
    @Html.ActionLink("Create New Post", "Create", new { id = @ViewBag.Id, name = @ViewBag.Name})
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.Blog.Title)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tags)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Blog.Title)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>*@
        </tr>
    }

</table>
